.sideMenu {
  border-right: 1px solid red;
  position: relative;
  top: 0px;
  bottom: 0px;
  background-color: transparent;
  flex: auto;
  flex-direction: column;
  display: block;

  .menu {
    background-color: transparent;

    .ant-menu-item {
      margin: 25px 0px;
      padding: 25px 0px;
    }
  }
}

.ant-menu-item-selected {
  background-color: transparent !important;
  text-decoration: none !important;
  color: black !important;
}
