.work-page {
    display: flex;
    width: auto;
    padding: 30px;
    flex-direction: column;
    align-items: center;
}

.work {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: fit-content;
    margin-bottom: 32px;
    flex-direction: row;
    border-radius: 10px;
    background-color: rgb(177, 174, 170);
    box-shadow: 5px 5px rgb(0, 0, 0, 0.1);

    .work-info {
        margin: 16px;
        .position-name {
            font-weight: 500;
            font-size: 20px;
        }

        .company {
            font-weight: 500;
            font-size: 20px;
            float: right;
            margin: 0px 8px;
        }
        .location {
            font-size: 16px;
            float: right;
            margin: 8px;
            margin-top: 5px;
        }
    }

    .picture {
        margin: 16px;
        width: 40vh;
        height: fit-content;
        filter: drop-shadow(3px 3px 3px black);
    }
}
