.work-page {
    display: flex;
    width: auto;
    padding: 30px;
    flex-direction: column;
    align-items: center;
}

.work {
    justify-content: space-around;
    width: 80%;

    height: fit-content;
    margin-bottom: 32px;
    border-radius: 10px;
    background-color: rgb(177, 174, 170);
    box-shadow: 5px 5px rgb(0, 0, 0, 0.1);
    padding: 16px;

    .work-info {
        width: 70%;
        flex-grow: 1;

        .ant-row {
            justify-content: space-between;
        }
        .position-name {
            font-weight: 500;
            font-size: 20px;
        }

        .company {
            font-weight: 500;
            font-size: 20px;
            float: right;
            margin: 0px 8px;
            display: block;
        }
        .location {
            font-size: 16px;
            float: right;
            margin: 8px;
            margin-top: 5px;
        }
    }

    .picture {
        display: flex;
        justify-items: center;
        align-items: center;
        width: 30%;
        min-width: 250px;
        .img {
            min-width: 250px;
            height: fit-content;
            filter: drop-shadow(3px 3px 3px black);
        }
    }
}
