.project-page {
    padding: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;

    .project-card {
        display: flex;
        height: fit-content;
        width: 90%;
        overflow: hidden;
        margin: 8px 0px;

        border-radius: 10px;
        background-color: rgb(177, 174, 170);
        box-shadow: 5px 5px rgb(0, 0, 0, 0.1);
    }

    .img-col {
        display: flex;
        flex-grow: 1;
        .ant-row {
            display: flex;
            width: 100%;
            gap: 10px;
            overflow: hidden;
        }
    }
    .project-img {
        flex: 1;
        min-height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: flex 0.3s ease;
        clip-path: polygon(0 0, 30px 100%, 100% 100%, calc(100% - 30px) 0);
        margin-right: -30px;
        min-width: 150px;

        .zoom-icon {
            display: block;
            position: relative;
            top: 50%;
            font-size: 32px;
            color: #53535327;
        }
    }

    .project-img:hover {
        flex: 2;
    }

    .project-detail {
        width: 60%;
        flex-grow: 1;

        display: inline-table;
        padding: 0px 8px 8px 16px;

        .project-name {
            text-shadow: 2px 2px gray;
            margin: 10px;
        }

        hr {
            width: 100%;
        }

        .project-info {
            display: flex;
            flex-direction: row;
            margin-top: 10px;

            .info-name {
                min-width: 150px;
                font-weight: 600;
            }

            a:-webkit-any-link {
                color: -webkit-link;
                cursor: pointer;
                text-decoration: underline;
            }

            .description {
                display: flex;
                align-items: center;
                inset: 0;
            }
        }
    }
}

.ant-modal-wrap {
    display: flex;
    height: 100%;
    overflow: hidden !important;
}
.modal-view {
    width: 100% !important;

    .ant-modal-content {
        background-color: transparent;
        box-shadow: none;
        width: 100%;
        height: auto;
        top: -50px;

        .ant-modal-close {
            top: -40px;
            color: white;
            .ant-modal-close-x {
                font-size: 28px;
            }
        }

        .ant-modal-body {
            .slick-slider {
                .slick-arrow::after {
                    height: 20px;
                    width: 20px;
                    border-inline-width: 5px 0;
                    border-block-width: 5px 0;
                }
                .slick-track {
                    height: 90vh !important;
                }
                .img {
                    display: block !important;
                    width: 120vh !important;
                    margin: auto;
                }
            }
        }
    }

    .ant-modal-footer {
        visibility: hidden;
    }
}
