.navbar {
    display: flex;
    height: 80px;
    flex-direction: row;
    border-bottom: 2px solid red;
    align-items: center;

    .App-title {
        font-size: 32px;
        pointer-events: none;
        vertical-align: middle;
        color: black !important;
        align-items: center;
        font-weight: 600;
        text-shadow: 3px 3px rgb(105, 105, 105);
        border-bottom: 1px solid;
    }
    .page-title {
        margin-right: 150px;
        padding-left: 2vh;
    }

    .menu-wrapper {
        max-width: 700;
        flex: auto;
        min-width: 0;
    }

    .menu {
        width: 100%;
        background-color: transparent;

        .ant-menu-item:hover {
            background-color: rgba(0, 0, 0, 0.06);
        }
        .ant-menu-overflow-item {
            border: 1px solid black;
        }

        .ant-menu-item {
            font-weight: 600 !important;
            border: 1px solid rgba(107, 107, 107, 0.712);
            border-radius: 10px !important;
            box-shadow: 2px 2px;
        }

        .ant-menu-overflow-item {
            border: 1px solid black;
            border-radius: 20px;
            margin-right: 10px;
        }
    }
}
.ant-menu-item:hover::after {
    border-bottom-width: 0px;
    border-bottom-color: transparent !important;
}
.ant-menu-submenu:hover::after {
    border-bottom-color: transparent !important;
}
.ant-menu-sub {
    background-color: #5f5f5f !important;

    .ant-menu-item:active {
        background-color: #969696dc !important;
    }
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after {
    border-bottom-width: 2px;
    border-bottom-color: transparent !important;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected:active {
    border-bottom-width: 2px;
    border-bottom-color: transparent !important;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item:hover::after {
    border-bottom-width: 2px;
    border-bottom-color: transparent !important;
}
